.conteiner {width: 80% !important; margin: 0 auto;}
.menu, .footer { height: 38px; background-color: #efefef; margin-bottom: 20px; text-align: right; padding: 0 10px;}


h5 {margin: 5px 0px !important;}
.well-small {padding: 3px 9px !important;}


#form_index{ margin: 200px 0 0 0;}
#erro{ margin-top: 10px; color: red;}
.form_login_index{ width: 234px; margin: 0 auto; padding-left: 33px;}

#caixa_menu{float: left; width: 200px; padding: 8px 0; margin: 10px 10px 0 0;}

#caixa_conteudo {width: 1100px; float: left; margin: 10px 0px 0 0;}

#logout{float: right; margin-top: 10px;}
#logout a{color: white;}
.navbar-inner h1{ /*width: 500px;*/ float: left;}

.dataright{ float: right;}
.well{margin-bottom: 10px !important;}
a h5.jobinfounit{cursor: pointer; margin-top:0px; }
a:hover  { text-decoration: none;}
a h5.jobinfounit:hover, h5.joblistunit:hover {color: #FF7878}

.inforight{float: right;}

.panel span.label, .panelitem span.label { width: 98%; display: block; margin-bottom: 2px; clear: both;}
.panel a{}
.panel a:hover, .panelitem a:hover {text-decoration: none;}
.panel a:hover .label, .panelitem a:hover .label{color: #FF7878; }

.inputradiostar{ float: left; width: 105px; margin-bottom: 10px;}
.inputradiostar span{ margin-left: 5px;}
.col a{color: #fff;}
.col a:hover {color: #FF7878; }
.collarg{ width: 20px !important;}

a.editcomment{ float: right; position: relative; top: -9px; right: -12px; border-left: 1px solid rgba(0, 0, 0, 0.15); border-top: 1px solid rgba(0, 0, 0, 0.15); padding: 0px 5px; }
a.editcomment:hover{background-color: #CECECE; }

#item_comentario{ width: 800px;}

#formPostCliente{ float: right;}

/*-------------------------


.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 80px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

--------------------------*/